[submodule "backend"]
	path = backend
	url = https://github.com/shivams-arch/Hanwha-ai-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/shivams-arch/hanwa-ai-frontend.git
