[submodule "backend"]
	path = backend
	url = https://github.com/RutvikChandla/hanwa-ai-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/RutvikChandla/hanwa-ai-frontend.git
