@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
